.filter-check-box {
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr;
  column-gap: 16px;
  grid-template-areas: "input description .";
  align-items: center;
  padding-top: 30px;
}

.filter-check-box__description {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  grid-area: description;
}

.filter-check-box__input {
  grid-area: input;
}

label:has([role="switch"]) {
  zoom: var(--switch-zoom, 1);
  display: inline-flex;
  align-items: center;
  gap: 1em;
  user-select: none;
}

input[role="switch"] {
  --switch-handle-size: 7px;
  --switch-bg-size: 16px;
  --switch-handle-gap: 3px;
  --switch-fg: #2be080;
  --switch-bg: color-mix(in srgb, #343434 80%, transparent);

  appearance: none;
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-flex;
  padding-inline: 0 var(--switch-bg-size);
  border: none;
  font-size: 0;
  border-radius: 100px;
  background: var(--switch-bg);
  transition: var(--switch-duration, 0.2s) cubic-bezier(0.65, 0, 0.5, 1);
  user-select: none;
  outline: none;
  filter: grayscale(1);
  cursor: pointer;
}

input[role="switch"]:checked {
  padding-inline: var(--switch-bg-size) 0;
  filter: none;
}

input[role="switch"]::before {
  content: "";
  padding: var(--switch-handle-size);
  margin: var(--switch-handle-gap);
  background: var(--switch-fg);
  border-radius: 50%;
  transition: inherit;
  border: 1px solid white;
}

@media screen and (max-width: 800px) {
  .filter-check-box {
    grid-template-columns: 1fr repeat(2, min-content);
    grid-template-areas: ". description input";
  }
}

@media screen and (max-width: 400px) {
  .filter-check-box {
    grid-template-columns: repeat(2, min-content);
    grid-template-areas: "description input";
    justify-content: center;
    padding-top: 40px;
    column-gap: 13px;
  }
  .filter-check-box__description {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
}
